<!--  TODO: add link to shelf -->
---

---
<div class="flex flex-row my-3.5 gap-10" >
	<a class="" href=`${import.meta.env.BASE_URL}/books`>Book posts</a>
	<a class="" href=`${import.meta.env.BASE_URL}/books/shelf`>Shelf</a>
	<a class="" href=`${import.meta.env.BASE_URL}/books/reading_stats`>Book stats</a>
</div>
