/* Add this line */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-heading: "Oswald", sans-serif; 
  --font-body: "Roboto", sans-serif; 
}
