---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- <Shelf jsonBooks={readBooks.slice(0, 30)} /> -->
      <a class="text-blue-400 font-bold text-2xl" href=`${import.meta.env.BASE_URL}/books/shelf`>Shelf</a>
</Layout>

<style>
  body {
    display: flex;
    justify-content: center;
    height: 100vh;

  }
</style>
