---
import "/src/styles/global.css";
import Navbar from "./Library/Navbar.astro";
const currentUrl = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>My Library</title>
  </head>
  <body>
    <div class="flex flex-col items-center">
      <Navbar />
      <slot />
    </div>
  </body>
</html>

<style>
  /* here i will define dememntions of elements */
  @import "tailwindcss";
  @theme {
    /* --color-mint-500: oklch(0.72 0.11 178); */
    --main-color: oklch(0.72 0.11 178);
  }
  html,
  body {
    background-color: #292f42;
    color: #78a0f2;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
